beautifulsoup4==4.9.1
cookies==2.2.1
cssutils==1.0.2
Django==2.0.7
django-inlinecss==0.3.0
easygui==0.98.1
future==0.18.2
mysql-client==0.0.1
mysqlclient==2.0.1
Pillow==7.2.0
PyMsgBox==1.0.8
pynliner==0.8.0
python-dotenv==0.18.0
pytz==2020.1
simplejson==3.17.2
soupsieve==2.0.1
