<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>EVT - ELASTIC, VELCRO, THREAD</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			.bg
			{
				background-color: #2A2828;
				color: #ffffff;			
			}

			.i1
			{
				background-color: black;
				text-align: center;
				font-weight: bold;
				min-height: 70px;
			}
    	</style>
    </head>
    <body class="bg">
    	<br><br>
    	<div>
    		<img src="https://drive.google.com/thumbnail?id=15baEaCHtMNQC7NmHwlhv4xyd-qZqIZAr" style="align-items: center; height: 250px; width: auto; margin-left: 500px;">
    	</div>
    	<br>
		<div class="i1">
			<br>
			Welcome to EVT, {{c.first_name}} {{c.last_name}}!
		</div>
		<br>
		<div style="margin-left: 50px;">
			Thank You for creating an Account with EVT[Elastic.Velcro.Thread].<br>
			Here you can find a variety of Elastics, Velcro and Thread.<br>
			Any Issue will be resolved within 24 Hours.<br>
			<br><br>
		</div>
			<div style="font-weight: bold; margin-left: 450px;"><i>- EVT Team</i></div>
		<br>
	</body>
</html>